<%- include("partials/head.ejs") %>

<!-- NEEDS SPECIAL ERROR NAVBAR-->

<main class="error">
    <h2><%= message %></h2>
    <h2><%= error.status %> :&#40</h2>
    <pre><%= error.stack %></pre>
</main>

<%- include("partials/footer.ejs") %>