<%- include("partials/head.ejs") %>

<%- include("partials/navbar.ejs") %>

<!-- Profile -->
<main class="profile-main">
    <h2 class="profile-header">Profile</h2>
    <ul class="profile-stats">
        <li>Username: <%- username %></li>
        <li>Games Played: <%- games %></li>
        <li>Wins: <%- win %></li>
        <li>Losses: <%- loss %></li>
        <li>Ties: <%- tie %></li>
    </ul>
</main>

<%- include("partials/footer.ejs") %>